.searchBox {
  margin: 15px;
  text-align: center;
}

.searchBoxInput {
  height: 30px;
  width: 25%;
  font-size: 10pt;
}

.searchBoxButton {
  height: 35px;
  width: 100px;
}

.results {
  text-align: center;
  margin: 20px;
}

.resultTitle {
  font-size: 20px;
}

.resultPoint {
  font-size: 15px;
}

.resultTitle a {
  color: #9c807d;
  font-weight: bold;
}

hr {
  background-color: #9c807d;
}
